.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#single-product select{
    display: block;
    padding: 5px 10px;
}
#single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    margin-right: 10px;
    font-size: 1rem;
}
#single-product input:focus{
    outline: none;
}
.buy-btn{
    background-color: coral;
    opacity: 1;
    transition: 0.3s ease;
}
.btn-close{
    background-color: transparent;
    
}
.btn-close i{
    font-size: 25px;
    color: black;
}
.btn-close:hover{
    background-color: white;
}